<body>
  <nav id="navTop" class="navbar navbar-dark bg-dark">
    <h3 id="navTitle">
      <i class="material-icons" style="font-size:36px">directions_boat</i> Vessel Route Tracer</h3>
  </nav>
  <app-map></app-map>
  <div class="container">
    <div class="row">
      <div class="col-8">
        <div id="jumb1" class="jumbotron">
          <h3 class="display-5">Vessel Route Tracer</h3>
          <p class="lead">
            <strong>Vessel Tracer</strong> is a web app that visualizes the routes of ships.</p>
          <hr class="my-4">
          <p class="lead">It allows you to view the route of ships from a dataset.</p>
        </div>
      </div>
      <div class="col-4">
        <div id="jumb2" class="jumbotron">
          <h3 class="display-5">Search</h3>
          <form>
            <div class="form-group">
              <label for="shipMMSI">Ship MMSI:</label>
              <input id="mmsiInput" type="text" class="form-control" placeholder="Enter MMSI">
              <small class="form-text text-muted">Give ship's MMSI.</small>
              <hr>
              <button type="button" onclick="findShip(document.getElementById('mmsiInput'))" class="btn btn-primary">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="jumbotron">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">MMSI</th>
                <th scope="col">IMO</th>
                <th scope="col">Ship name</th>
                <th scope="col">Ship type</th>
                <th scope="col">Destination</th>
              </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- </main> -->
  <nav id="navBottom" class="navbar navbar-dark bg-dark">
    <p>Harokopeio Panepistimio | Vessel Tracer </p>
    <p>'Map data &copy;
      <a href="http://openstreetmap.org">OpenStreetMap</a> contributors,
      <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery ©
      <a href="http://mapbox.com">Mapbox</a>'</p>
  </nav>
</body>
